<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome 2</title>
    <link rel="stylesheet" href=".bootstrap.css">
    <link rel="stylesheet" href="./main.css">
</head>
<body>

   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="card">
                   <div class="card-header text-center">
                       Section Two (Inroduction)
                   </div>
                   <div class="card-body">
                    <p class="text-warning">Alright here we go, <br><br><br> </p>
                    <p class="text-primary mb-5">As a registered business under this platform: <br><br><br> behold your enjoyment!
                       <ul class="list">
                           <li class="list-item mb-3"><b>Acessibility:</b> Once you have bussines detail registered, you can be viewd by anyone with this application</li>
                           <li class="list-item mb-3"><b>Daily Record</b> You can enter your daily bussines activity, which will be stored on your mobile phone; and with this data,
                               this application will provide you with;
                               <ul class="list">
                                   <li class="list-item"><b>Market Analysis;</b> e.g details of your product,higest profiting item, Best market time</li>
                                   <li class="list-item"><b>Product Forcasting;</b> Predict which product will have more buying in the future(Note that this depends on how long you have 
                                       been entering daily records.
                                   </li>
                                   <li class="list-item"><b>Restock/Refill;</b> whenever you intend to restosk or refill your shop/bussines, you can get the best profiting proportion of each product
                                       to refill.
                                   </li>
                                   
                               </ul>
                           </li>
                           <li class="list-item mb-3">
                               <b>Popularity:</b> Your position on the search engine depends on your rating, so more rating more popularity 
                           </li>
                           <li class="list-item mb-3">
                               <b>Bussines Association:</b> Easily get connected to your respective established bussiness Association. You can only
                               get into three Association for start, additional #10 will be charge for more Associations.
                           </li>
                           <li class="list-item">
                              <b> Maintenance: </b> monthly payment of #150 for Maintenance and keeping the population growing
                           </li>
                 
                       </ul>
                    </p>
                 
                    <p class="text-primary mt-5 mb-5">As a customer <br><br><br> And you get this.....</p>
                    <ul class="list">
                        <li class="list-item">
                            <b>Locate:</b> Locate the closet shop that offer the service/product you want.
                        </li>
                        <li class="list-item">
                            <b>Rate/review and Earn:</b> Rate and review Bussines/shop your favorite shops.
                            And as a token if you happens to be the first in a week to do this for any particular shop, you get #50kobo.
                            You can always cash in into your bank account every month. 
                        </li>
                        <li class="list-item">
                           <b>Get job:</b> You can always brows through bussines profile to see if they have any particular opening.. 
                        </li>
                        
                     </ul>
                 
                 
                     <p class="text-primary mt-5">As a Private or Gov't organisation/Association
                     <ul class="list">
                         <li class="list">
                           <b>Earning:</b> For every member you get #10 monthly 
                         </li>
                     </ul>
                     </p>
            <a href="./slide.html" class="btn btn-primary">Back</a>
             <a href="./register.html" class="btn btn-danger">Register</a>    
                   </div>
               </div>
           </div>
       </div>
   </div> 
    


   

    <script src="./jquery_3.3.1.js"></script>
    <script src="./popper.min.js"></script>
    <script src="./bootstrap.js"></script>
</body>
</html>