{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Welcome to MaBuss</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
            <div class="card">
                  <div class="card-body">
                    <h2 class="h2 text-warning card-header text-center mb-5 sticky-top">Welcome to MaBuss</h2>
                    <p class="mt-5 mb-5 text-center font-weight-bold">Mabuss is a Platform meant to meet some of Goals of SDG, which include:
                      <ol>
                        <li class="list-item">
                          <b class="text-primary">Poverty:</b> By providing financial monitoring system for small scale bussines at affordable price,
                          Establishing popularity for small scale bussineses. And others...
                        </li>
                        <li class="list-item">
                          <b class="text-primary">Creation/additional source of income:</b> Bussineses can make known job opening. <br>
                                        Individual can earn by rating and reviewing bussines. 

                        </li>
                      </ol>
                    </p>

                    <p class="mt-5 mb-5 text-center">Small bussineses around the world expecially in a country like Nigeria
                      have small chances
                      of competing with large bussineses and organisation. However, its not necessary needs to be, there are
                      already made solution but they are expensive and only avilable to big bussineses
                      and organisation. the target of this application is to increase the capability of small scale bussiness,
                      access to established bussines as well as make easy collaboration with there respective association.
                      As time goes on, and i am still a programmer, there are going to be more functinalities to help
                      small bussineses sower higher.  
                    </p>

                    <img src="{% static 'img/ ' %}" class="d-block w-100" height="400px" alt="Small and large bussines">  

                    <p class="mt-5 mb-5 text-center">Tired of writing down business daily entries and scratching your head
                      when calculation do not seem to make sense.
                      If you're a bussines man, looking for a way to monitor your finance using the
                      modern day technology. then you really should check this out.
                    </p>

                    <img src="{% static 'img/ ' %}" class = 'd-block w-100 ' height="400px" alt="frustrating finance calculation">
                    
                    <p class="mt-5 mb-5 text-center">
                      Or you're in the habit of wishing you have access to exact location of shops that
                      offer the product you wish to buy, and more inportantly you need to get to the nearest
                      possible shop to buy your stuffs.
                    </p>
                        
                     <img src="{% static 'img/ ' %}" class="d-block w-100" height="400px" alt="Shops geolocation">

                    <p class="mt-5 mb-5 text-center">
                      MaBuss is designed specifically to aid small scale bussines in Nigeria, who some
                      dont even know how to keep account of their finance. Those with 
                      experience will testify how frustrating it could be when you do this yourself.
                    </p>
                    
                    <p class="mt-5 mb-5 text-center">
                      Register to discover our services, and the opportunity we provide and the opportunity preovide
                      your business.
                      And that is not all, read the next page to see how you can earn with this application as a customer
                      to bussineses, and as a gov't or private association.
                    </p>  

                    <a  href="{% url 'slideNext' %}" class="btn btn-danger">Next</a>
                  </div>
            </div>
      </div>
    </div>
  </div>

    


<script src="{% static 'js/jquery_3.3.1.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>